*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    line-height: 47px;
    color: white;
}

html, body {
    background-color: #202124;    
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

main {
    width: 651px;
    height: 495px;  
}

 /* screen to display the operations*/
.output {    
    height: 2.75rem;
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border: 1px solid #5f6368;
    border-radius: 10px;   
}

/* showing the previous number */
.previous-operand {
    color: rgba(255,255,255, 0.75);
    font-size: 0.5rem;
}

/* showing the current number */
.current-operand {
    color: white;
    font-size: 1rem;
}

.buttons {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 147px);
    grid-template-rows: repeat(6, 80px);
    width: 651px;
    height: 405px;
    flex-direction: row;
    justify-content:space-between;
    margin: 8px 0 0 0;   
}

header {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin-bottom: 16px;
}

.first-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#project-name {
    width: 315px;
    height: 65px;
    background-color: #5f6368;
    border-radius: 10px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    display: flex;
}

button {
    width: 147px;
    height: 65px;
    color: white;
    border-color: transparent;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

button:hover {
    filter: grayscale(0);
        -webkit-transform:scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform:scale(1.1);
        -webkit-transition: all 100ms ease-in-out;
            -moz-transition: all 100ms ease-in-out;
            -o-transition: all 100ms ease-in-out;
            transition: all 100ms ease-in-out;
}

button:active {
    filter: brightness(80%);
        -webkit-transform:scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform:scale(1);
}

.gray-button {
    background-color: #5f6368;
}

.black-button {
    background-color: #3C4043;
}

.blue-button {
    background-color: #8AB4F8;
    color: #202124;
}

img {
    margin: auto auto;
    width: 32px;    
}

@media screen and (max-width: 481px) { 

    *, *::before, *::after {
        font-size: 16px;
        line-height: 19px;     
    }

    main {
        width: 377px;
        height: 299px; 
    }

    button {
        width: 85px;
        height: 37px;
    }

    img {
        width: 16px;
    }

    .buttons {
        width: 377px;
        height: 194px;
        grid-template-columns: repeat(4, 97.5px);
        grid-template-rows: repeat(6, 50px);
    }
    
    #project-name {
        width: 182px;
        height: 37px;
    }

}